div {
    border: 5px double black;
    width: 50%;
    padding: 1vw;
    position: absolute;
    margin: 18% 25% 25% 18%;
    background: white;
}

h2  > p {
    color: grey;
}

.name {
    transform: scale(0.8, 1.2);
    font-family: Impact, sans-serif;
    font-weight: 900;
    color: #33ccff;
    -webkit-text-stroke: 1.25px #3f694c;
    text-shadow: 0.35rem -0.35rem 0 #000099, 0.7rem -0.7rem 0 lightseagreen;
    letter-spacing: -0.005vw;
    font-size: 5em;
    position: absolute;
    top: -152px;
}


body {
    background-color: darkslategrey;
}