body {
    background-color: saddlebrown;
}

.daboys {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.pic img {
     max-width: 80vw;
}
;
.pic {
    padding: 20%;
}

.pic img .mawty {
    right: -92px;
    position: absolute;
}

.link {
    align-self: stretch;
    width: 10vw;
    transform:scale(3.5,.9);
    padding-left: 200px;
}