body {
    background-color: saddlebrown;
}

.daboys {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.pic img {
     max-width: 80vw;
}
;
.pic {
    padding: 20%;
}

.pic img .mawty {
    right: -92px;
    position: absolute;
}