body {
	text-align: center;
	background-color: #d33b22;
}

a { 
	text-align: center;
	color: #000000;
	text-decoration: none;
 }

 p {
 	bottom: 10px;
 	position: absolute;
 	margin: 0px auto 0px;
 	font-family: fantasy;
 }

 .container {
 	display: flex;
 	flex-direction: column;
 }
 .snot {

 }

 /* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .container {
    flex-direction: row;
  }
}