:root 
  --border: 35px
  

@media (prefers-color-scheme: dark)
  body
    background-color: #14161a !important
    color: #fff1ce !important
  #ww_7b851ac42f618
    color: #fff1ce !important
  #ww_7b851ac42f618 .ww_additional .wi_add_ic
    fill: #fff1ce !important

@media  screen and (max-width: 650px)
  #topnav
    width: 100% !important
  .foodbttn
    top: 70% !important

body
  background-color: #fff1ce
  color: #393d45
  background-image: url('od.png')
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  background-attachment: fixed

#ww_7b851ac42f618
  padding: 40px 0 0 0 !important

h1
  justify-self: center

.container
  display: none !important

.dj
  display: none
  position: unset

#dj:checked ~ .dj
  display: block
  position: absolute
  top: 0px
  z-index: -2
  right: 5%

.dj img
  width: 37vw

.food
  display: none
  height: 20vh

#food:checked ~ .food
  display: block
  position: relative
  z-index: -2

.foodbttn
  padding: 2cqmax
  top: 30%
  right: 5%
  position: absolute
  font-size: x-large
  border: 1px #000
  border-style: outset

input#food
  padding: 2cqmax
  top: 30%
  position: absolute
  font-size: x-large
  border: 1px #000
  border-style: outset
  display: none

.links
  visibility: hidden !important

#news
  &:checked ~ .links
    visibility: visible !important

  &:not(:checked) ~ .links
    position: absolute

#socialsnav
  position: fixed
  opacity: 0
  visibility: hidden
  width: 100%
  height: 100%
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #396374
  z-index: 2
  transition: opacity 800ms cubic-bezier(0.5, 0.01, 0.03, 0.64)
  overflow-y: scroll
  overflow-x: hidden

icon 
  cursor: pointer
  position: absolute
  right: 0px
  transform-origin: center
  transform: scale(1.1)
  transform-box: fill-box

nav
  position: absolute
  position-area: center
  font-size: 4rem
  a
    text-decoration: none
    color: inherit
    display: block
  a:hover
    filter: opacity(.8)

#topnav
  background-color: rgb(159 188 190 / 35%)
  position: fixed
  top: 0px
  right: 0px
  width: 40%
  height: 6%
  display: inline-flex
  justify-content: space-evenly
  align-items: center
  font-size: 1.5rem
  a
    text-decoration: none !important
    color: inherit !important
    cursor: pointer

@mixin dots($count)
  $text-shadow: ()
  @for $i from 0 through $count
    $text-shadow: $text-shadow, (-4+(random()) * 7) + em (-1.25+(random()) * 2) + em 13px hsla(random() * 360, 100%, 50%,.9)
    text-shadow: $text-shadow

#projects
  position: fixed
  bottom: 20px
  right: -7vmax
  padding: 10px
  background-color: rgba(0, 0, 0, 0.8)
  color: white
  border-radius: 8px
  transition: all 0.5s ease
  cursor: pointer
  overflow: hidden
  width: 15vmax
  height: 10%

  &:hover
    right: 1%

  &.fullscreen
    width: 100vw
    height: 100vh
    top: 0
    left: 0
    right: 0
    bottom: 0
    border-radius: 0
    padding: 20px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    cursor: default
    overflow: auto
    z-index: 1000

    .project-links
      visibility: visible
      opacity: 1
      transition: opacity 0.3s ease
      cursor: crosshair
      display: inline-flex
      flex-direction: row
      flex-wrap: wrap
      align-content: space-around
      justify-content: space-evenly
      align-items: center
      max-width: 69%
      a
        height: fit-content

  .project-links
    visibility: hidden
    opacity: 0
    position: absolute

  .thigns
    position: absolute
    top: 8%



#fortwhyte
  position: relative
  bottom: -10%

.moneyimg
  position: absolute
  bottom: 0%
  left: clamp(-10%, -20vmin, -6vw)
  z-index: -1
  img
    width: 100%

.shrimp
  right: -66vw
.pork
  top: -50vh
  right: -47vw
.bowl
  left: 11vw
.camem
  left: -56vw
.sausage
  left: 25vw
.gnocci
  right: -22%

.bottom
  position: fixed
  bottom: 0px
  position-area: bottom

.artwordbox
  height: 100%
  width: 100%

.artword
  height: inherit
  max-width: 25vw
  margin: 0 25%

.button
  max-width: 33vw
  height: min-content
  margin: 1% 4%
  position: relative
  display: flex
  align-items: center
  justify-content: center
  border-radius: var(--border)
  clip-path: content-box
  a
    text-decoration: double underline dimgrey

.button .inner
  position: relative
  z-index: 1
  margin: 2.5px
  padding: 25px
  background: rgb(155 176 172)
  border-radius: var(--border)
  aspect-ratio: 5.63
  color: #374421
  
  
 
.button::before, .button::after
  content: ""
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  background: radial-gradient( rgba(0,53,89,1), #bee2bf 7.5%, rgba(0,212,255,0) 100%) center
  background-size: 500%
  z-index: -1
  animation: rotate 13.5s cubic-bezier(.53,-0.02,.38,1) infinite both
  width: 100%
  border-radius: var(--border-radius)

.button::after
  filter: blur(15px)
  transform: translate3d(0,0,0)

@keyframes rotate
  from
    transform: rotate(0)

  to
    transform: rotate(360deg)