body {
	text-align: center;
	background-color: #d33b22;
}

a { 
	text-align: center;
	color: #000000;
	text-decoration: none;
 }

 .bottom {
 	bottom: 10px;
 	position: absolute;
 	margin: 0px 44% 0px;
 	font-family: fantasy;
 }

 .container {
 	display: flex;
 	flex-direction: column;
 	flex-wrap: wrap;
 	justify-content: center;
 	align-items: center;
 }
 .snot {
 	height: 7vh;
 	width: 32.5vw;
 }

 .ip {
	top: 0px;
	position: absolute;
	margin: 0 0 0 -10px;
	color: bisque;
	text-overflow: clip;
	white-space: nowrap;

 }

 /* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .container {
    flex-direction: row;
  }
  .snot {
  	font-size: x-large;

  }
}