body {
	height: 100vh;	
}

.title {
	font-size: 14vw;

}

.videos {
	display: flex;
    justify-content: space-evenly;
    margin: auto;
}

video {
	width: 45%;
}

h1,h2,p {
	text-align: center;
}

iframe {
	height: 100vh;
}

html {
	background-color: brown;
}
@media (max-width: 1020px) {
	.videos {
		flex-flow: column;
	}

	video {
		width: 100%;
		height: auto;
	}
}