body {
    margin: 0;
    overflow-x: hidden;
}

img {
    align-items: center;
    width: 33vw;
}

h1 {
    font-size: 3em;
}

.seriesone {
    display: none;
}

.seriesone p {
    font-size: x-large;
    width: 21vw;
    position: absolute;
    right: 48%;
}

.martyr {
    position: absolute;
    right: 3%;
}

#one:checked ~ .seriesone {
    display: inline;
}

.bttn {
    position: fixed;
    right: 0px;
    font-size: x-large;
}

.bttn.one {
    top: 10vmax;
}

.bttn.two {
    top:20vmax;
}

input {
    display: none;
}

.seriestwo {
    display: none;
}

#two:checked ~ .seriestwo {
    display: block;
}
div.lead img {
    width: 100vw;
    min-height: 100vh;
}
.lead {
    width: 100vw;
    position: sticky;
    top: -110px;
    z-index: -1;
}
.bench {
    width: 75vw;
    position: relative;
    left: 3%;
    padding: 2.5%;
    padding-top: 7%;
}
.lamp {
    position: relative;
    right: -13%;
    padding: 5.5%;
    width: 40vw;
}
.floor_img {
    position: relative;
}

iframe {
    position: absolute;
}
iframe.wall {
    aspect-ratio: 16 /9;
    width: 95%;
    margin: auto 2.5%;
    top: 125%;
    left: 0%;
}
iframe.floor {
    aspect-ratio: 3 / 4;
    width: 33%;
    right: 0px;
    top: 200%;
    z-index: 2;
}



@media (prefers-color-scheme: dark) {
    html {
      background: rgb(16, 14, 5);
      color: #dcb;
      outline: 5px dashed #000;
    }
  }

  @media (max-width: 800px) {
    iframe {
        position: relative;
    }
    iframe.floor {
        position: absolute;
    }

img {
    width: 66vw;
}

.tree {
    width: 100%;
}

.martyr {
    right: 1%;
    top: 82%;
}

.seriesone p {
    font-size: x-large;
    width: 53vw;
    position: absolute;
    right: 37%;

  }

img.floor_img {
    margin: 0% 17%;
    padding: 24% 0%;
    width: 47vw;
    right: -20%;
}

div.lead img {
    width: 130vw;
    min-height: 111.5vh;
}

.lead {
    overflow: hidden ;
}

.gallery img {
    width: 44vw;
    margin: 0% 2.5%;
    padding: 2% 0%;
}

  }