body {
    margin: 0;
    overflow-x: hidden;
}

img {
    align-items: center;
    width: 33vw;
}

.seriesone {
    display: none;
}

#one:checked ~ .seriesone {
    display: inline;
}

.bttn {
    position: fixed;
    right: 0px;
}

.bttn.one {
    top: 10vmin;
}

.bttn.two {
    top:20vmin;
}

input {
    display: none;
}

.seriestwo {
    display: none;
}

#two:checked ~ .seriestwo {
    display: block;
}
div.lead img {
    width: 100vw;
    min-height: 100vh;
}
.lead {
    width: 100vw;
    position: sticky;
    top: -110px;
    z-index: -1;
}
.bench {
    width: 75vw;
}

iframe {
    position: absolute;
}
iframe.wall {
    aspect-ratio: 16 /9;
    width: 95%;
    margin: auto 2.5%;
    top: 125%;
}
iframe.floor {
    aspect-ratio: 3 / 4;
    width: 33%;
    right: 0px;
    top: 200%;
    z-index: 2;
}



@media (prefers-color-scheme: dark) {
    html {
      background: rgb(16, 14, 5);
      color: #dcb;
      outline: 5px dashed #000;
    }
  }