* {
    margin: 0;
  }
html {
    height: 100vh;
}


.supl {
    width: 66vmax;
    position: relative;
    bottom: 5%;
    right: -50%;
}

.back {
  top: -40%;
  position: absolute;
  height: -webkit-fill-available;
}

.video {
    width: 66vmax;
    height: 37vmax;
}

h1 {
  font-size: 11vmax;
  padding-bottom: .5em;
  color: #bdbdbd;
}

.background {
  position: absolute;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgb(93 91 88 / 33%) 29%, rgba(130, 122, 112, 0.98) 100%);
  width: 50vw;
  z-index: -1;
  top: -33%;
  left: 0.29%;
  height: 550vh;
}

.statement {
  position: fixed;
  font-size: 2vmax;
  width: 40%;
  text-align: right;
  padding-right: 2%;
  padding-top: 1%;
  right: 50%;
  color: #e5e5e5 ;
}


.parallax {
    height: 500px; /* fallback for older browsers */
    height: 200vh;
    overflow-x: hidden;
    overflow-y: clip;
    -webkit-perspective: 300px;
    perspective: 300px;
    
  }

    .parallax__group {
    position: relative;
    height: 50%; 
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

    .parallax__layer {
    position: absolute;
    top: 0;
    left: -1vw;
    right: 0;
    bottom: 0;
  }
  
     .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }

     .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

    .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
    height: 200vh;
  }
