body , html 
    margin: 0
    overflow: hidden

img
    max-height: 100vh

.header
    position: fixed
    z-index: -1
    min-height: 100vh

.gradient
        height: 200vh
        width: 100vw
        background: linear-gradient(to top, grey, rgba(0,0,0,0))
        position: relative

.sheet
    z-index: 1
    width: 100vw
    .imgs
        position: absolute
        background: grey
        img
            max-width: 75vw
            position: relative
        :nth-child(odd)
            right: -33% 

.text
    position: absolute
    top: 10%
    h1
        font-size: 4vmax
