html {
	font-size: 24px;
}


.bands {
	font-size: 2rem;
}

#prairie {
	display: none;
}

#prairie:checked ~ .prairie_photos {
	display: flex !important;
	flex-wrap: wrap;
}

.prairie_photos {
	display: none;
}

#haileys {
	display: none;
}

#haileys:checked ~ .haileys_photos {
	display: flex !important;
	flex-wrap: wrap;
}

.haileys_photos {
	display: none;
}